.container {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    background-color: gray;
    margin-top: 10px;
    margin-left: 300px;
    border: 2px solid red;
}

.container-cell {
    border: 2px solid blue;
    box-sizing: border-box;
}